In [1]:
import pandas as pd 
df = pd.read_csv("forks.csv") 
print(df)

       Name  Ticker
0   olympus     ohm
1    temple  temple
2  snowbank      sb

In [2]:
from jupyter_ohm_forks.coingecko import add_coingecko_data
from jupyter_ohm_forks.defi_llama import add_defi_llama_data
from jupyter_ohm_forks.dune import add_dune_data

df = df.pipe(add_coingecko_data).pipe(add_defi_llama_data).pipe(add_dune_data)
df.columns

Index(['Name', 'Ticker', 'cg_id', 'cg_symbol', 'cg_name', 'cg_image',
       'cg_current_price', 'cg_market_cap', 'cg_market_cap_rank',
       'cg_fully_diluted_valuation', 'cg_total_volume', 'cg_high_24h',
       'cg_low_24h', 'cg_price_change_24h', 'cg_price_change_percentage_24h',
       'cg_market_cap_change_24h', 'cg_market_cap_change_percentage_24h',
       'cg_circulating_supply', 'cg_total_supply', 'cg_max_supply', 'cg_ath',
       'cg_ath_change_percentage', 'cg_ath_date', 'cg_atl',
       'cg_atl_change_percentage', 'cg_atl_date', 'cg_roi', 'cg_last_updated',
       'dl_id', 'dl_name', 'dl_address', 'dl_symbol', 'dl_url',
       'dl_description', 'dl_chain', 'dl_logo', 'dl_audits', 'dl_audit_note',
       'dl_gecko_id', 'dl_cmcId', 'dl_category', 'dl_chains', 'dl_module',
       'dl_twitter', 'dl_audit_links', 'dl_oracles', 'dl_slug', 'dl_tvl',
       'dl_chainTvls', 'dl_change_1h', 'dl_change_1d', 'dl_change_7d',
       'dl_staking', 'dl_fdv', 'dl_mcap', 'dl_forkedFrom', 'dl_pool2',
       'dl_listedAt', 'dl_audit', 'dl_audits_link'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 60 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Name                                 3 non-null      object
 1   Ticker                               3 non-null      object
 2   cg_id                                3 non-null      object
 3   cg_symbol                            3 non-null      object
 4   cg_name                              3 non-null      object
 5   cg_image                             3 non-null      object
 6   cg_current_price                     2 non-null      float64
 7   cg_market_cap                        2 non-null      float64
 8   cg_market_cap_rank                   2 non-null      float64
 9   cg_fully_diluted_valuation           1 non-null      float64
 10  cg_total_volume                      2 non-null      float64
 11  cg_high_24h                          2 non-null      float64
 12  cg_low_24h                           2 non-null      float64
 13  cg_price_change_24h                  2 non-null      float64
 14  cg_price_change_percentage_24h       2 non-null      float64
 15  cg_market_cap_change_24h             2 non-null      float64
 16  cg_market_cap_change_percentage_24h  2 non-null      float64
 17  cg_circulating_supply                2 non-null      float64
 18  cg_total_supply                      3 non-null      float64
 19  cg_max_supply                        1 non-null      float64
 20  cg_ath                               2 non-null      float64
 21  cg_ath_change_percentage             3 non-null      float64
 22  cg_ath_date                          2 non-null      object
 23  cg_atl                               2 non-null      float64
 24  cg_atl_change_percentage             3 non-null      float64
 25  cg_atl_date                          2 non-null      object
 26  cg_roi                               0 non-null      object
 27  cg_last_updated                      2 non-null      object
 28  dl_id                                3 non-null      object
 29  dl_name                              3 non-null      object
 30  dl_address                           3 non-null      object
 31  dl_symbol                            3 non-null      object
 32  dl_url                               3 non-null      object
 33  dl_description                       3 non-null      object
 34  dl_chain                             3 non-null      object
 35  dl_logo                              3 non-null      object
 36  dl_audits                            3 non-null      object
 37  dl_audit_note                        0 non-null      object
 38  dl_gecko_id                          3 non-null      object
 39  dl_cmcId                             1 non-null      object
 40  dl_category                          3 non-null      object
 41  dl_chains                            3 non-null      object
 42  dl_module                            3 non-null      object
 43  dl_twitter                           3 non-null      object
 44  dl_audit_links                       1 non-null      object
 45  dl_oracles                           0 non-null      object
 46  dl_slug                              3 non-null      object
 47  dl_tvl                               3 non-null      float64
 48  dl_chainTvls                         3 non-null      object
 49  dl_change_1h                         3 non-null      float64
 50  dl_change_1d                         3 non-null      float64
 51  dl_change_7d                         3 non-null      float64
 52  dl_staking                           3 non-null      float64
 53  dl_fdv                               1 non-null      float64
 54  dl_mcap                              2 non-null      float64
 55  dl_forkedFrom                        1 non-null      object
 56  dl_pool2                             0 non-null      float64
 57  dl_listedAt                          2 non-null      float64
 58  dl_audit                             0 non-null      object
 59  dl_audits_link                       0 non-null      object
dtypes: float64(27), object(33)
memory usage: 1.4+ KB

In [4]:
df

,Name,Ticker,cg_id,cg_symbol,cg_name,cg_image,cg_current_price,cg_market_cap,cg_market_cap_rank,cg_fully_diluted_valuation,...,dl_change_1d,dl_change_7d,dl_staking,dl_fdv,dl_mcap,dl_forkedFrom,dl_pool2,dl_listedAt,dl_audit,dl_audits_link
0,olympus,ohm,olympus,ohm,Olympus,https://assets.coingecko.com/coins/images/1448...,545.27,3.024818e+09,57.0,3.549135e+09,...,-0.917236,-6.091641,2.817271e+09,3.549135e+09,3.024818e+09,NaN,NaN,NaN,NaN,NaN
1,temple,temple,temple,temple,Temple,https://assets.coingecko.com/coins/images/2004...,NaN,NaN,NaN,NaN,...,-0.990099,-0.990099,0.000000e+00,NaN,NaN,NaN,NaN,1.637377e+09,NaN,NaN
2,snowbank,sb,snowbank,sb,Snowbank,https://assets.coingecko.com/coins/images/1994...,489.91,5.936042e+07,599.0,NaN,...,-3.016593,-7.340732,3.728764e+07,NaN,5.972570e+07,[Olympus DAO],NaN,1.636386e+09,NaN,NaN

In [8]:
df.cg_ath

0    1415.26
1        NaN
2    8356.80
Name: cg_ath, dtype: float64